repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix, --line-length=80 ]
    # Run the formatter.
    - id: ruff-format
      args: [ --line-length=80 ]
